<!DOCTYPE html>
<html>
<head>
    <title>Pong Game</title>
    <script>
        const socket = new WebSocket('ws://' + window.location.host + '/ws/game/');

        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data.message);
            // Logica per aggiornare il gioco con i dati ricevuti
            updateGame(data.paddleLeft, data.paddleRight, data.ball);
        };

        socket.onopen = function(e) {
            console.log('WebSocket connection established.');
            // Logica per inviare dati al server
            socket.send(JSON.stringify({
                'message': 'Player connected',
                'paddlePosition': getPlayerPaddlePosition()
            }));
        };

        socket.onclose = function(e) {
            console.log('WebSocket connection closed.');
        };

        function updateGame(paddleLeft, paddleRight, ball) {
            // Aggiorna la posizione delle racchette e della pallina
            Pong.playerLeft.y = paddleLeft.y;
            Pong.playerRight.y = paddleRight.y;
            Pong.ball.x = ball.x;
            Pong.ball.y = ball.y;
        }

        function getPlayerPaddlePosition() {
            // Restituisce la posizione attuale della racchetta del giocatore sinistro
            return { x: Pong.playerLeft.x, y: Pong.playerLeft.y };
        }
    </script>
</head>
<body>
    <h1>Pong Game</h1>
    <canvas id="pongCanvas"></canvas>
    <script src="{% static 'templates/game/script.js' %}"></script>
</body>
</html>