{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Selector</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body class="d-flex flex-column h-100">
    <h1>Game vs AI</h1>
    <div class="position-relative text-center bg-dark mx-auto text-white pt-5" style="width: 1200px; height: 650px; border-radius: 200px 200px 200px 200px;">
        <canvas></canvas>
    </div>

    <footer class="footer mt-auto mx-auto p-2 bg-light">
        <div class="container-fluid">
            <span class="text-muted text-center">made by Fgrossi, Gfezzuog, Marimatt, and Cbuszzkzizkziznkziznkynzyiznkykziznykyknziznzkzisnsksnisiy</span>
        </div>
    </footer>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
    <script type="module" src="{% static 'js/old_gameVSai.js' %}" defer></script>
</body>
</html>
