{% load static %}

<body class="d-flex flex-column h-100">
    <div class="position-relative text-center bg-dark mx-auto text-white pt-5 responsive-div">
        <canvas></canvas>
    </div>
    <div class="controls-left">
        <button id="left-up" class="control-button">▲</button>
        <button id="left-down" class="control-button">▼</button>
    </div>
    </div>
    <div class="text-center mt-3">
        <h4 id="commands" class="text-black">Left: W S</h4>
        <button id="restartButtonAI" onclick="GameAI.restartAI()" style="background:#212529;color:white;" type="button" class="btn btn-primary btn-lg">Play</button>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
    <script type="module" src="{% static 'js/old_gameVSai.js' %}" defer></script>
    <script>
        if (currentLanguage == 'en') {
            document.getElementById('restartButtonAI').innerHTML = 'Play';
            document.getElementById('commands').innerHTML = 'Left: W S';
        } else if (currentLanguage == 'it') {
            document.getElementById('restartButtonAI').innerHTML = 'Gioca';
            document.getElementById('commands').innerHTML = 'Sinistra: W S';
        } else {
            document.getElementById('restartButtonAI').innerHTML = 'Jugar';
            document.getElementById('commands').innerHTML = 'Izquierda: W S';
        }
    </script>
</body>
