{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body class="d-flex flex-column h-100">
    <div class="position-relative text-center bg-dark mx-auto text-white pt-5 responsive-div">
        <canvas></canvas>
    </div>
    <div class="text-center mt-3">
        <button id="restartButton" onclick="Game.restart('Player 1', 'Player 2', [5])" style="background:#212529;color:white;" type="button" class="btn btn-primary btn-lg play-button">Play</button>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
    <script type="module" src="{% static 'js/gameLogic.js' %}" defer></script>
    <script>
        $('#speed-text').hide();
        if (currentLanguage == 'en') {
            document.getElementById('restartButton').innerHTML = 'Play';
        } else if (currentLanguage == 'it') {
            document.getElementById('restartButton').innerHTML = 'Gioca';
        } else {
            document.getElementById('restartButton').innerHTML = 'Jugar';
        }
    </script>
</body>