
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body class="d-flex flex-column h-100">
    <h1>Multiplayer Game</h1>
    <div class="position-relative text-center bg-dark mx-auto text-white pt-5" style="width: 1200px; height: 650px; border-radius: 200px 200px 200px 200px;">
        <canvas></canvas>
    </div>
    
    <div class="text-center mt-3">
        <button id="restartButtonMulti" onclick="GameMulti.restartMulti('Player 1', 'Player 2', [5, 5, 5])" style="background:#212529;color:white;" type="button" class="btn btn-primary btn-lg">Play</button>
        <h2>Press again to speed up</h2>
    <footer class="footer mt-auto mx-auto p-2 bg-light">
        <div class="container-fluid">
            <span class="text-muted text-center">made by Fgrossi, Gfezzuog, Marimatt, and Cbuszzkzizkziznkziznkynzyiznkykziznykyknziznzkzisnsksnisiy</span>
        </div>
    </footer>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
    <script type="module" src="{% static 'js/MultiGame.js' %}" defer></script>
</body>