{% load static %}
<!doctype html>
<html>
  <head>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">
  
    <header>
      <div id="header-container" class="position-relative text-center bg-light mx-auto" style="width: 80%; height: 100%; border-radius: 21px 21px 21px 21px;">
        <div class="col-12 p-5 mx-auto">
          <h1 id="title" class="display-3 fw-normal p-5">A normal game of Pong</h1>
          <p id="game-description" class="lead fw-normal col-7 mx-auto pb-5">by the proud minds of Fgrossi, Gfezzuog, Marimatt and Cbuszinznzkziznkznkyynzkyiznkrzynkykyzkznyiznyizkyiny</p>
        </div>
      </div>
      <div class="container-fluid">
        <div class="bg-dark mx-auto text-center text-white overflow-hidden">
          <div class="py-5">
            <h2 id="offer-title" class="display-5 pb-3">What we offer</h2>
            <p id="offer-description" class="lead">no assolutamente nulla.</p>
          </div>
          <img src="{% static 'images/image.png' %}" alt="" width="100%" style="width: 100%; height: 300px; border-radius: 100px 100px 100px 100px;">
        </div>
      </div>
    </header>
    
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    
    <script>
      $('#speed-text').hide();
      $('#game-title').html('');
      
      if (currentLanguage == 'en') {
        document.getElementById('title').innerHTML = 'A normal game of Pong';
        document.getElementById('game-description').innerHTML = 'by the proud minds of Fgrossi, Gfezzuog, Marimatt and Cbuszinznzkziznkznkyynzkyiznkrzynkykyzkznyiznyizkyiny';
        document.getElementById('offer-title').innerHTML = 'What we offer';
        document.getElementById('offer-description').innerHTML = 'absolutely nothing.';
      } else if (currentLanguage == 'it') {
        document.getElementById('title').innerHTML = 'Un gioco normale di Pong';
        document.getElementById('game-description').innerHTML = 'dalle menti orgogliose di Fgrossi, Gfezzuog, Marimatt e Cbuszinznzkziznkznkyynzkyiznkrzynkykyzkznyiznyizkyiny';
        document.getElementById('offer-title').innerHTML = 'Cosa offriamo';
        document.getElementById('offer-description').innerHTML = 'assolutamente niente.';
      } else {
        document.getElementById('title').innerHTML = 'Un juego normal de Pong';
        document.getElementById('game-description').innerHTML = 'por las mentes orgullosas de Fgrossi, Gfezzuog, Marimatt y Cbuszinznzkziznkznkyynzkyiznkrzynkykyzkznyiznyizkyiny';
        document.getElementById('offer-title').innerHTML = 'Lo que ofrecemos';
        document.getElementById('offer-description').innerHTML = 'absolutamente nada.';
      }
    </script>
  </body>
</html>
